{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contacto list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nick</th>
                <th>Subnick</th>
                <th>Estado</th>
                <th>Perfil</th>
                <th>Emoticones</th>
                <th>Token</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('contacto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nick }}</td>
                <td>{{ entity.subnick }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.perfil }}</td>
                <td>{{ entity.emoticones }}</td>
                <td>{{ entity.token }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contacto_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contacto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('contacto_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
