{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contacto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nick</th>
                <td>{{ entity.nick }}</td>
            </tr>
            <tr>
                <th>Subnick</th>
                <td>{{ entity.subnick }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Perfil</th>
                <td>{{ entity.perfil }}</td>
            </tr>
            <tr>
                <th>Emoticones</th>
                <td>{{ entity.emoticones }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ entity.token }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contacto') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('contacto_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
